.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#NavBar{
  display: grid;
  grid-template-rows: 50px;
  grid-template-columns: 100px 65% 100px 100px 100px 100px;
  margin: 0px;
  background-color: rgb(134, 255, 174);
}

.eBudget-Logo{
  margin: 0px;
  padding: 10px 50px;
  padding-bottom: 15px;
}

.item-1{
  grid-column: 3;
}

.item{
  text-align: center;
  border: 1px solid black;
  padding: 10px;
  padding-top: 13px;
  border-top: 0px;
  border-bottom: 0px;
  border-right: 0px;
}

#welcome-messege{
  color: blue;
}
